.icon{
    width: 20%;
    position: relative;
    left: 25%;
    top: 25%;
}
.heider{
    background-color: white;
    height: 100px;
    border-bottom: 2px solid aqua;
}
.home{
    width: 15%;
    height: 20px;
    color: aqua;
}
.total{
    background-color: red;
    border-radius: 20px;
    position: absolute;
    width: 50%;
    color: white;
    font-size: 10px;
    height: 20px;
    right: 80%;
    top: -10%;
    
}
.somme{
    border: 2px solid red;
    border-radius: 20px;
    position: absolute;
    top: 80%;
    right: 10%;
    width: 40%;
    height: 20px;
}