.icon{
    width: 20%;
    position: relative;
    left: 25%;
    top: 25%;
}
.heider{
    background-color: white;
    height: 100px;
    border-bottom: 2px solid aqua;
}
.heider h5{
    position: relative;
    top: 10%;
    left: 40%;
}
.home{
    width: 15%;
    height: 20px;
    color: aqua;
}
.list{
    width: 80%;
    position: absolute;
    top: 8%;
    left: 5%;
}
.button{
    width: 90%;
    height: 50px;
    position: absolute;
    top: 80%;
    left: 5%;
}
.frais{
    width: 40%;
    position: relative;
    left: 55%;
    top: 98%;
    margin-top: 1%;
}
