.icon{
    width: 40%;
    position: relative;
    left: 29%;
    top: 30%;
}
.heider{
    background-color: white;
    height: 200px;
    border-bottom: 3px solid mediumturquoise;
}
.heider h5{
    position: relative;
    top: 50%;
    left: 44%;
}
.item{
    background-color: rgba(255, 255, 255, 0.0);
    margin-bottom: 30px;
}
.list{
    width: 80%;
    position: relative;
    top: 15%;
    margin: auto;
}
.button{
    width: 90%;
    height: 50px;
    position: relative;
    top: 25%;
    left: 5%;
}
