.icon{
    width: 20%;
    position: relative;
    left: 25%;
    top: 25%;
}
.heider{
    background-color: white;
    height: 100px;
    border-bottom: 2px solid aqua;
}
.heider h5{
    position: relative;
    top: 7%;
    left: 8%;
    font-size: 16px;
}
.home{
    width: 15%;
    height: 20px;
    color: aqua;
}

.button{
    position: absolute;
    top: 30%;
    left: 29%;
    background-color: red;
}