<!--<ion-slides pager>

  <ion-slide style="background-color:green">
    <h2>Slides 1</h2>
  </ion-slide>

  <ion-slide style="background-color:blue">
    <h2>Slides 2</h2>
  </ion-slide>

  <ion-slide style="background-color:red">
    <h2>Slides</h2>
  </ion-slide>

</ion-slides>-->
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <img src="../assets/WhatsApp Image 2021-02-25 at 12.59.09.jpeg" class="slide1">
   <div class="slide2">
     <img src="../assets/WhatsApp Image 2021-02-25 .jpeg" class="slide3" (click)="login()">
    </div>
   
     <!--<ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>-->
  </ion-slides>
</ion-content>
